.footer {
  font-size: 13px;
  position: absolute;
}

.navbar-default {
  background-color: #3498db;
  border-color: #2980b9;
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #34495e;
}


.container {
  width: auto;
  max-width: 680px;
  /*padding: 0 15px;*/
}
body {
  /* Margin bottom by footer height */
  font-family: "Source Sans Pro", 'sans-serif';
  margin-bottom: 60px;
}

.container .text-muted {
  margin: 20px 0;
}

.footer {
  /*height: 200px;*/
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
}
