<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- theme -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
  <link href="assets/css/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="assets/css/ng2-toastr.css" rel="stylesheet" />
  <script src="assets/css/ng2-toastr.js"></script>

  <title><%= webpackConfig.metadata.title %></title>

  <meta name="description" content="<%= webpackConfig.metadata.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= webpackConfig.metadata.baseUrl %>">


</head>

<body>

  <app>
    Loading...
  </app>

  <% if (webpackConfig.metadata.isDevServer && webpackConfig.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>


</body>
</html>
