/*styles for home content only*/

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300|Source+Sans+Pro';

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.spinner {
    width: 50px;
    height: 50px;
    position: relative;
    top: 50%;
    /*transform: translateY(-50%);*/
    margin: 250px auto
}
.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #3498db;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out
}
.double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.input-group-addon {
  color: #3498db;
}
@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0)
    }
    50% {
        -webkit-transform: scale(1)
    }
}
@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0);
        -webkit-transform: scale(0)
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

modal {
  padding-top: 200px;
}

img {
  width: 220px;
  height: 150px;
}

.light {
  font-weight: 400px;
  font-family: 'Source Sans Pro';
}

label {
  border: 20px;
}

.shadow:hover {
  /*border: solid 1px #CCC;*/
  -moz-box-shadow: 1px 1px 10px #999;
  -webkit-box-shadow: 1px 1px 10px #999;
      box-shadow: 1px 1px 10px #999;
}
.input-hidden {
  position: absolute;
  left: -9999px;
}

label > input{ /* HIDE RADIO */
  display:none;
}
label > input + div{ /* IMAGE STYLES */
  cursor:pointer;
  border:4px solid transparent;
}
label > input:checked + div{ /* (CHECKED) IMAGE STYLES */
  border: 5px solid #e74c3c;
  -moz-box-shadow: 1px 1px 10px #999;
  -webkit-box-shadow: 1px 1px 10px #999;
      box-shadow: 1px 1px 10px #999;
}

.nama {
  color: #3498db;
}

.footer {
  /*height: 200px;*/
  position: absolute;
  bottom: 0%;
  /*background-color: #f5f5f5;*/
  padding-top : 30px;
  padding-bottom : 10px;
  width: 100%;
}
