<div class="spinner" *ngIf="loading">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>

<div class="row"  *ngIf="!loading && !log">
  <div class="col-md-4 col-md-offset-4 col-sm-12 vertical-center">
    <form (ngSubmit)="submit()">
      <fieldset>
        <legend class="col-md-12">Silahkan masuk dengan akun IPB</legend>
        <div class="form-group col-md-12">
            <label for="email">Username : </label>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon ion-person"></i></span>
                <input type="text" class="form-control" name="name1" [(ngModel)]="login.username" placeholder="Username" autofocus autocomplete="off" value=""></div>
        </div>
        <div class="form-group col-md-12">
            <label for="email">Password : </label>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon ion-locked"></i></span>
                <input type="password" class="form-control" name="name2" [(ngModel)]="login.password" placeholder="Password" autocomplete="off" value=""></div>
        </div>
        <div class="form-group col-md-12">
          <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary raised btn-block" [disabled]="!login.username || !login.password">Masuk</button><br />
          </div>
        </div>
      </fieldset>
    </form>
    <div class="row">
      <div class="col-md-12">
        <br /><br />
        <blockquote class="blockquote-reverse">
          <p><b><i>PEMILIHAN KETUA DAN WAKIL KETUA HIMALKOM 2016/2017</i></b></p>
          <small><cite title="Source Title"><a>@2016, HIMALKOM IPB </a>|| <a href="https://www.linkedin.com/in/ivanmaulana">Ivan Maulana</a> | <a href="https://www.linkedin.com/in/irmusyafa">Irfan Rafii Musyafa</a></cite></small>
        </blockquote>
      </div>
    </div>
  </div>


</div>


<div *ngIf="log && !qr" class="col-md-12">
  <br />
  <div class="col-md-10 col-md-offset-1 text-center">

    <div class="row panel panel-primary">

      <div class="panel-heading">
        <h3 class="panel-title">Calon Ketua dan Wakil Ketua HIMALKOM IPB 2016/2017</h3>
      </div>
      <div class="info text-center">
        <span>Klik foto atau nama calon untuk memilih calon tersebut.</span>
      </div>

      <div class="panel-body">

        <div class="col-md-6 text-center">
          <label>
            <input type="radio" name="fmipa" value="1" [checked]="pilihFmipa1" (click)="radioFmipa(1)"/>
            <div class="shadow">
              <p class="id">
                {{km[0].id}}
              </p>
              <img src="assets/img/1.jpg" />
              <div class="row calon">
                <div class="col-md-6">
                  <p>Calon Ketua : <br />
                    <b class="nama">{{km[0].ketua}}</b>
                  </p>
                </div>

                <div class="col-md-6">
                  <p>Calon Wakil Ketua : <br />
                    <b class="nama">{{km[0].wakil}}</b>
                  </p>
                </div>
              </div>
            </div>
          </label>
        </div>

        <div class="col-md-6 text-center">
          <label>
            <input type="radio" name="fmipa" value="2" [checked]="pilihFmipa2" (click)="radioFmipa(2)"/>
            <div class="shadow">
              <p class="id">
                {{km[1].id}}
              </p>
              <img src="assets/img/2.jpg" />
              <br />
              <div class="row calon">
                <div class="col-md-6">
                  <p>Calon Ketua : <br />
                    <b class="nama">{{km[1].ketua}}</b>
                  </p>
                </div>

                <div class="col-md-6">
                  <p>Calon Wakil Ketua : <br />
                    <b class="nama">{{km[1].wakil}}</b>
                  </p>
                </div>
              </div>
            </div>
          </label>
        </div>

      </div>

    </div>

  </div>

  <div class="row col-md-12 text-center">

    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">
      <button class="btn btn-primary btn-md btn-block" (click)="myModal.open()"><span style="font-size:20px">PILIH</span></button>
    </div>

    <div class="col-md-1"></div>
  </div>

  <div class="row text-center">
    <div class="col-md-12">
      <br /><br />
      <blockquote class="blockquote-reverse">
        <p>Klik Foto atau Nama Calon Pasangan Ketua dan Wakil Ketua HIMALKOM IPB 2016/2017. Kemudian tekan <b>PILIH</b>. </p>
        <small><cite title="Source Title"><a>@2016, HIMALKOM IPB </a>|| <a href="https://www.linkedin.com/in/ivanmaulana">Ivan Maulana</a> | <a href="https://www.linkedin.com/in/irmusyafa">Irfan Rafii Musyafa</a></cite></small>
      </blockquote>
    </div>
  </div>

  <modal #myModal submitButtonLabel="Yakin" (onSubmit)="vote()" (onSubmit)="myModal.close()" cancelButtonLabel="Kembali">
      <modal-header>
        <div class="text-center">
          <h3 *ngIf="namaFmipa">Apakah Kamu Yakin ?</h3>
          <h3 *ngIf="!namaFmipa">Error</h3>
        </div>
      </modal-header>
      <modal-content>
        <div *ngIf="namaFmipa">
          <h2 class="text-center" >
            <span style="color:#3498db">SETUJU</span><br />
          </h2>
          <p>Ketua dan Wakil Ketua HIMALKOM IPB 2016/2017</p>
          <h4 class="nama">
            {{namaFmipa}}
          </h4>
        </div>

        <h2 class="text-center" *ngIf="!namaFmipa">
          <span style="color:#c0392b">SILAHKAN PILIH SALAH SATU</span><br />
        </h2>

      </modal-content>
  </modal>

</div>

<div class="row" *ngIf="log && qr">
  <div class="row vertical-venter">
    <h3 class="row col-md-8 col-md-offset-2 text-center" style="color:#3498db">
      Terima Kasih <b>{{nama}}</b>, Sudah Ikut Berpartisipasi dalam pemilihan Ketua dan Wakil Ketua HIMALKOM IPB 2016/2017
    </h3>

    <div class="row col-md-4 col-md-offset-4 text-center">
      <img class=" qr" src="assets/img/himalkom.jpg" />
    </div>

    <div class="row col-md-8 col-md-offset-2 text-center">
      <p class="text-center catatan">
        <b>Halaman ini akan otomatis ditutup dan <i>redirect</i> ke halaman login dalam 20 detik.</b>
      </p>
      <p class="text-center catatan">
        atau
      </p>
      <button class="btn btn-danger btn-md" (click)="keluar()">Keluar</button>
    </div>

  </div>
</div>
