RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ^kolokium?$    kolokium.php    [NC,L]
RewriteRule    ^test?$    test.php    [NC,L]
RewriteRule    ^vote?$    vote.php    [NC,L]
RewriteRule    ^voteFem?$    voteFem.php    [NC,L]
RewriteRule    ^voteMipa?$    voteMipa.php    [NC,L]
RewriteRule    ^test1?$    login.php    [NC,L]
RewriteRule    ^testFem?$    loginFem.php    [NC,L]
RewriteRule    ^testMipa?$    loginMipa.php    [NC,L]
RewriteRule    ^verif?$    verification.php    [NC,L]
RewriteRule    ^barcode/([^/]+)    barcode.php?size=60&text=$1   [NC,L]
RewriteRule    ^qr/([^/]+)    qr.php?data=$1   [NC,L]
